# Node.js dependencies
**/node_modules/

# Build output
**/dist/
**/build/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
# Ignore all .env files in root and any subdirectories like /frontend, /admin, etc.
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# IDE settings
.vscode/
.idea/

# Misc
**/.next/
**/.nuxt/
**/.turbo/
